<div class="heroe fadeIn" style="background-image: url({{heroe.wallpaper}})">
  <!-- TO DO background -->
  <h1>{{heroe.classHeroe | uppercase}}</h1>

  <div class="container">
    <div class="img-container">
      <img src={{heroe.img}} [alt]="heroe.classHeroe">
    </div>

    <div class="article">
      <h2>Description</h2>
      <hr>
      <p>{{heroe.description}}</p>
      <button class="btn btn-light text-dark" [routerLink]="['/heroes']">Back</button>
    </div>

  </div>

</div>

<!-- "<td><a href=\"?accion=eliminar&id=" + dr["NumeroDocumento"].ToString() + "\" onclick=\"return confirm('¿Estas seguro de eliminar a la persona seleccionada?')\">Eliminar</a></td>"; -->